.movie-details-body {
    margin-top: 30px;
}
.movie-title {
    margin-top: 30px;
}
.thumbs-up {
    margin-right: 20px;
}
.fa-thumbs-up {
    color: #537ECC;
}
.fa-thumbs-down {
    color: #FA7777;
}