.navbar {
    margin-left: 18%;
    margin-right: 18%;
}
.navbar-brand {
    color: #DFDFDF;
    border-bottom: 1px solid transparent;
}
.navbar-brand:hover {
    color: #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
.navbar-brand:active {
    color: #537ECC;
    border-bottom: 1px solid #537ECC;
}
.nav-link {
    color: #DFDFDF;
    border-bottom: 1px solid transparent;
}
.nav-link:hover {
    color: #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
.nav-link:active {
    color: #537ECC;
    border-bottom: 1px solid #537ECC;
}