.movie-item {
    background-color: #5A5A5E;
    color: #DFDFDF;
    padding: .75rem 1.25rem;
    margin-bottom: 30px;
}
.movie-item:hover {
    background-color: #3f3f3f;
}
.movie-item:active {
    background-color: #FA7777;
    color: #111112;
}
a:hover {
    text-decoration: none;
}